@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background-color: black;
}

#main-bg {
    background-image: url('./Assets/Building.jpg');
    background-size: cover;
    background-position: center;
}

.App {
    background-size: cover;
    background-position: center;
}

.title {
    font-weight: 700;
    filter: drop-shadow(0 0 20px white);
    -webkit-filter: drop-shadow(0 0 20px white);
}